asgiref==3.3.1
certifi==2020.12.5
chardet==3.0.4
Django==3.1.4
idna==2.10
pytz==2020.4
requests==2.25.0
sqlparse==0.4.1
urllib3==1.26.2
uuid==1.30
gunicorn==19.7.1
whitenoise==5.0.1
asgiref==3.3.1
certifi==2020.12.5
chardet==3.0.4
dj-database-url==0.5.0
Django==3.1.4
django-heroku==0.3.1
gunicorn==19.7.1
idna==2.10
psycopg2==2.8.6
pytz==2020.4
requests==2.25.0
sqlparse==0.4.1
urllib3==1.26.2
uuid==1.30
whitenoise==5.0.1
